.github/**
.vscode/**
dist/**
docs/**
!docs/logo/abracadabra-vignette.png
node_modules/**
out/test/**
src/**
.adr-dir
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
wallaby.js
jest.config.js
yarn-error.log
