.github/**
.vscode/**
dist/**
docs/*
!docs/logo
/docs/logo/*
!docs/logo/abracadabra-vignette.png
node_modules/**
src/**
.adr-dir
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
wallaby.js
jest.config.js
yarn-error.log
