name: VSCode Deploy

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build & deploy to VS Code
        uses: actions/setup-node@v3
        with:
          node-version: 18.0.0
          registry-url: https://registry.npmjs.org/
      - run: yarn
      - run: yarn deploy:vscode
        env:
          NODE_OPTIONS: "--max_old_space_size=8192"
          VSCE_PAT: ${{ secrets.VSCODE_ACCESS_TOKEN }}
